@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open_sans_regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/open_sans_bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Open_Sans", tahoma, sans-serif;
}

img {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
