@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/open_sans_regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/open_sans_bold.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Open_Sans", tahoma, sans-serif;
}

img {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Перебиваю стиль MUI у бургер-меню для адаптивности */
@media (min-width: 768px) {
  .hide-on-md {
    display: none !important;
  }
}

main {
  background-image: url("./assets/images/background_main.webp");
}

.page {
  height: 100%;
}

.page__body {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  text-wrap: balance;
  min-height: 100%;
}

.page__container {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}
