.copyright {
    font-size: 0.8rem;
    line-height: 1rem;
}

.copyright__link {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }
}
