@use "../global/variables.scss";

.create-tale {
    padding: 1rem;

    @media (min-width: variables.$screen-tablet) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.create-tale__wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
    // backdrop-filter: blur(10px);
    background-color: #ffffff;
}

.create-tale__title {
    padding: 1rem;
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 3rem);
    line-height: clamp(2rem, 5vw, 4rem);
}

.create-tale__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.create-tale__container {
    width: 100%;
    max-width: 28rem;
}

.create-tale__label {
    width: 100%;
}

.create-tale__description {
    display: block;
    padding-bottom: 0.5rem;
}

.create-tale__input {
    font-family: monospace;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
    color: #000000;
}

.create-tale__checkbox + span {
    font-family: variables.$font-ptsans;
}

.create-tale__error {
    color: #f56565;
    font-size: 0.875rem;
}

.create-tale__button {
    width: 100%;
    max-width: 13rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
