@use "../global/variables.scss";

.create-tale {
    padding: 1rem;
    padding-bottom: 4rem;

    @media (min-width: variables.$screen-tablet) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.create-tale__wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: clamp(1.5rem, 5vw, 2.5rem);
    padding-right: clamp(1.5rem, 5vw, 2.5rem);
    width: clamp(288px, 71.6vw, 1024px);
}

.create-tale__title {
    padding-bottom: 1.5rem;
    padding-top: 0;
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 3rem);
    line-height: clamp(2rem, 5vw, 4rem);
}

.create-tale__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
    align-items: center;
    padding-bottom: 2rem;
}

.create-tale__container {
    width: 100%;
    max-width: 35rem;
}

.create-tale__label {
    width: 100%;
}

.create-tale__description {
    display: block;
    padding-bottom: 0.5rem;
}

.create-tale__input {
    font-family: monospace;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
    color: #000000;
}

.create-tale__checkbox + span {
    font-family: variables.$font-ibm;
}

.create-tale__error {
    color: #f56565;
    font-size: 0.875rem;
}

.create-tale__button {
    width: 100%;
    max-width: 13rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.create-tale__info {
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 1rem;
}

.create-tale__link{
    display: inline;
    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }
}

.create-tale__loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.create-tale__buttons-container {
    display: flex;
    gap: 0.5rem;
}