@use "../global/variables.scss";

.main-footer {
    padding: 1rem;
    color: #ffffff;
    border-top: 0.2rem solid #f8d3c9;
    background-color: #607d9a;
    width: 100%;

    @media (min-width: variables.$screen-tablet) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.main-footer__container {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.main-footer__nav {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
