@use "../global/variables.scss";

.page {
    height: 100dvh;
    background-color: #f2f2f2;
}

.page__body {
    height: 100dvh;
    font-family: variables.$font-ibm;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    text-wrap: balance;
    min-height: 100%;
}

.page__container {
    min-width: 320px;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("../../images/background_main.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
