@use "../global/variables.scss";

.registration {
    padding: 1rem;
    padding-bottom: 4rem;

    @media (min-width: variables.$screen-tablet) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.registration__wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.4rem rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    padding: 1.5rem;
    padding-top: 2rem;
    padding-left: clamp(1.5rem, 5vw, 2.5rem);
    padding-right: clamp(1.5rem, 5vw, 2.5rem);
    width: clamp(288px, 71.6vw, 512px);
}

.registration__title {
    padding-bottom: 1.5rem;
    padding-top: 0;
    text-align: center;
}

.registration__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}

.registration__container {
    width: 100%;
    max-width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.registration__label {
    width: 100%;
}

.registration__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.25rem;
    color: #000000;
}

.registration__error {
    color: #f56565;
    font-size: 0.875rem;
}

.registration button {
    margin-top: 1rem;
}
