.social {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.social__link {
    &--github .social__logo {
        position: relative;
        bottom: 3px;
    }

    &:hover {
        opacity: 0.5;
    }
    
}

.social__logo {
    object-fit: contain;
}
